body {
    /* background-image: url('images/image.jpg'); */
    background-repeat:no-repeat;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/22/240/855/texture-gradient-simple-background-blue-wallpaper-preview.jpg');
    /* background-image: url('images/laptop-336369_1920.jpg');
    background-color: rgba(255,255,255,0.2); */
    /* background-blend-mode: overlay; */
    background-attachment: fixed;  
    background-size: cover;
    /* background-position: center; */
   
       
    
    
}
.jumbotron{
    padding-top: 10%;
    color: rgb(250, 181, 7);
    /* font-family: 'Londrina Shadow', cursive;   */
    font-family: 'Cabin Sketch', cursive;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    /* letter-spacing: 5px; */
    background: #ffc421;
    border: 2px solid black;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    transition: 500ms;
    border-radius: 5%;
    
   
}
  
button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
} 
#Practicum{
    margin-top: 20rem;
}
.content{
    background-color: rgba(255,255,255,0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: justify;
    padding: 20px;
    font-size: large;
    border: 3px solid rgb(250, 193, 4);
}
.card-container{
    width: 17rem;
    position: relative;
    height: 300px;
  }
  .card-container:hover .card-front{
    transform: rotateY(180deg);
  }
  .card-container:hover .card-back{
    transform: rotateY(0deg);
  }
  .card-back{
    transform: rotateY(180deg);
  }
  .card2{
    transition:all 0.9s;
    position: absolute;
    height: 100%;
    width: 80%;
    backface-visibility: hidden;
  }
/* practicum css */
.Practicum {
    position: relative;
    padding: 45px 0 15px 0;
  }
  
  .Practicum .timeline {
    position: relative;
    width: 100%;
  }
  
  .Practicum .timeline::after {
    content: "";
    position: absolute;
    width: 2px;
    background: #f7c02b ;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .Practicum .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
  }
  
  .Practicum .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
  }
  
  .Practicum .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
  }
  
  .Practicum .timeline .timeline-item::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #f7c02b;
    border-radius: 16px;
    z-index: 1;
  }
  
  .Practicum .timeline .timeline-item.right::after {
    left: -8px;
  }
  
  .Practicum .timeline .timeline-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 46px;
    right: 10px;
    z-index: 1;
    border: 10px solid;
    border-color: transparent transparent transparent #dddddd;
  }
  
  .Practicum .timeline .timeline-item.right::before {
    left: 10px;
    border-color: transparent #dddddd transparent transparent;
  }
  
  .Practicum .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #f7c02b;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .Practicum .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
  }
  
  .Practicum .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
  }
  
  .Practicum .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
  }
  
  .Practicum .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
  }
  
  .Practicum .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
  }
  
  .Practicum .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
  }
  
  .Practicum .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
  }
  
  @media (max-width: 767.98px) {
    .Practicum .timeline::after {
      left: 8px;
    }
  
    .Practicum .timeline .timeline-item {
      width: 100%;
      padding-left: 38px;
    }
  
    .Practicum .timeline .timeline-item.left {
      padding-right: 0;
    }
  
    .Practicum .timeline .timeline-item.right {
      left: 0%;
      padding-left: 38px;
    }
  
    .Practicum .timeline .timeline-item.left::after,
    .Practicum .timeline .timeline-item.right::after {
      left: 0;
    }
  
    .Practicum .timeline .timeline-item.left::before,
    .Practicum .timeline .timeline-item.right::before {
      left: 18px;
      border-color: transparent #dddddd transparent transparent;
    }
  
    .Practicum .timeline .timeline-item.left .timeline-date,
    .Practicum .timeline .timeline-item.right .timeline-date {
      position: relative;
      top: 0;
      right: auto;
      left: 0;
      text-align: left;
      margin-bottom: 10px;
    }
  
    .Practicum .timeline .timeline-item.left .timeline-text,
    .Practicum .timeline .timeline-item.right .timeline-text {
      border-right: none;
      border-left: 5px solid #dddddd;
    }
  }
.section-header{
    color: #f7c02b;
}
.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #f7c02b;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #f7c02b;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
  }
  
  .btn:hover {
    color: #f7c02b;
    background: transparent;
    box-shadow: inset 0 0 0 0 #f7c02b;
    border-color: #f7c02b;
  }
button a {
    text-decoration: none;
    color: black;
}
button a:hover {
    text-decoration: none;
    color: rgb(26, 17, 17);
}